// ** Default
$defaultBg: rgb(29 31 32 / 71%);
$defaultColor: #c8c8c8;
$defaultBorder: #c8c8c8;

// ** Info
$infoColor: #bcc0ff;
$infoBorder: #646cff;
$infoBg: rgb(100 108 255 / 8%);

// ** Warning
$warningBg: rgb(255 197 23 / 5%);
$warningColor: #fcd253;
$warningBorder: rgba(255, 213, 0, 0.793);

// ** Error
$errorBg: rgb(192 29 29 / 15%);
$errorColor: #ef8d8dfa;
$errorBorder: rgba(255, 25, 0, 0.322);

// ** Success
$successBg: rgba(246, 238, 9, 0.127);
$successColor: #7acf58d6;
$successBorder: rgba(0, 255, 0, 0.322);


@mixin alert($name, $bgColor, $color, $borderColor){
    .#{$name}{
        background-color:$bgColor ;
        color: $color;
    
        margin-bottom: 1rem;
        border: $borderColor;
        border-radius: 0.8rem;
        padding: 1.3rem;
    
    .alert-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        svg{
            margin-right: .6rem;
        }
        .close{
            cursor: pointer;
        }
    }
    .titel{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }
    p {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.5rem;
        margin-top: 1.2rem;
      }
      a {
        color: #9499ff;
        font-weight: 600;
      }
    }
}

@include alert("alert-default", $defaultBg, $defaultColor, $defaultBorder);
@include alert("alert-info", $infoBg, $infoColor, $infoBorder);
@include alert("alert-warning", $warningBg, $warningColor, $warningBorder);
@include alert("alert-error", $errorBg, $errorColor, $errorBorder);
@include alert("alert-success", $successBg, $successColor, $successBorder);
